{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps","apps"]}.
{deps_dir,"deps"}.
{deps, [
    {active, ".*", {git, "git://github.com/synrc/active",""}},
    {rest,".*", {git, "git://github.com/synrc/rest",[]}},
    {n2o,".*",    {git, "git://github.com/synrc/n2o",  []}},
    {cowboy,".*", {git, "git://github.com/extend/cowboy", "1.0.1"}},
    {jsone,".*", {git, "git://github.com/sile/jsone.git",[]}}
]}.
