[
  {nynpo, [{bot,"548231922:AAHmXMMr38XGtH0tJMDUdiByheT2mZ7qkVI"},
           {timer,{0,0,5}},
           {rooms,["CanYaCommunity","HaskellRu","RuHaskell"]}]},
  {n2o, [{port,8000},
          {upload,"./storage"},
          {app,nynpo},
          {tables,[ cookies, file, caching, ring, async, nick,names,surnames]},
          {pickler,n2o_pickle},
          {formatter,n2o_bert},
          {auth_ttl, 315000000}, %% 10 years
          {protocols,[n2o_nitro]},
          {log_modules,nynpo},
          {log_level,nynpo},
          {vnode, {nynpo, get_vnode}}]},
   {bpe,[{process_worker,{job,worker}}]}
].
